*{
  padding: 0;
  box-sizing: border-box;
 margin: 0;
  
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 1rem;
}

.header img{
  width: 30px;
  height: 30px;
}

.innerHead{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main{
  padding: 36px;
}
.form{
  display: grid;
  grid-template:40px 40px / 1fr 1fr;
  gap: 17px;
}
.form--input{
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  font-family: 'Karala','sans-serif';
  text-indent: 5px;
}
.form--button{
  position: relative;
  grid-column: 1 / -1;
  cursor: pointer;
  font-family: 'Karala','sans-serif';
  font-size: 1.2rem;
  background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  border: none;
}
.form--button i{
  color: rgb(231, 253, 130);
  font-size: 1.4rem;
  position: absolute;
  bottom: 0.4rem;
  padding-left: 0.5rem;
}
.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
@media(max-width:430px){
  .meme--image{
    max-width: 350px;
    margin: auto;
    border-radius: 3px;
  }
.header{
  padding: 1.3rem 0rem;
  justify-content: space-between;
  width: 420px;
}
}
